<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <title>Job Applications</title>
</head>
<body>
    <h1 id="header">Job Application Resource</h1>
    <br>
    <fieldset id="indexfield">
        <legend>Check Your Jobs or Register</legend>
        <form action="/registeredUser" method="post">
            <b>Enter your user-name here:</b> <input type="text" name="username" id="username" placeholder="Name">
            <input type="submit">
        </form>
        <br>
        <b>Register <a href="/info">here</a></b>
    </fieldset>
    </body>
</html>