<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <title>Register</title>
</head>
<body>
    <fieldset id="userinput">
        <legend><b>Enter Your Information Here</b></legend>
        <form id="info" action="/registerInfo" method="post">
            First Name: <input type="text" name="firstName" id="firstName" required>
            Last Name: <input type="text" name="lastName" id="lastName" required>
            <br><br>
            Email: <input type="email" name="email" id="email" size="40" required>
            <br><br>
            User-name: <input type="text" name="username" id="username" required>
            <br>
            <br>
            <input type="submit" value="Submit Information">
        </form>
    </fieldset>
    <br>
    <br>
    <b>Return to the home page <a href="/">here</a></b>
</body>
</html>