<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/index.css" type="text/css">
	<title>Found Jobs</title>
</head>
<body>
	<h1 id="jobResults">Job Search Results</h1>
	<br>
	<b>Click <a href="/">here</a> to return to the home page</b>
	<br>
	<%-html%>
</body>
</html>